In [1]:
import pandas as pd
import scipy.stats as stats 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
custorder = pd.read_csv("Costomer+OrderForm.csv")
custorder

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
#Business Problem:To check whether the defective % varies by center or not
#y and X :x is more than 2 discrete and y is discrete
# Here we will use Chi-square test reason is categorical data

In [15]:
custorder.head()

  Phillippines   Indonesia       Malta       India  Error Free
0   Error Free  Error Free   Defective  Error Free           1
1   Error Free  Error Free  Error Free   Defective           1
2   Error Free   Defective   Defective  Error Free           1
3   Error Free  Error Free  Error Free  Error Free           1
4   Error Free  Error Free   Defective  Error Free           1

In [14]:
custorder.Phillippines.value_counts();

Error Free    280
Defective      20
Name: India, dtype: int64

In [15]:
custorder.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [16]:
custorder.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [17]:
custorder.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [18]:
customerOrder=np.array([[280,267,269,280],[20,33,31,20]])
customerOrder

array([[280, 267, 269, 280],
       [ 20,  33,  31,  20]])

In [20]:
from scipy.stats import chi2_contingency
chi2_contingency(customerOrder)

(6.148231330713082,
 0.10461699016731649,
 3,
 array([[274., 274., 274., 274.],
        [ 26.,  26.,  26.,  26.]]))

In [ ]:
# Compare p_value with α > 0.05